@use '../styles/abstracts/colors';

.case-list {
  $caseListBorder: 1px solid #c6c6c6;

  h1 {
    text-align: center;
  }

  table {
    border: $caseListBorder;
    border-collapse: collapse;
    margin: auto;
    .case-headings {
      border: 1px solid colors.$eagle;
      background-color: colors.$eagle;
      color: white;
      th {
        border-color: colors.$gold;
      }
    }
    th, td {
      padding: 10px;
      border-right: $caseListBorder;
    }
    td {
      border-top: $caseListBorder;
    }
    th:last-child, td:last-child {
      border-right: none;
    }
    tr.staff-headings th.staff-label {
      background: #fed8b1;
    }
    tr:nth-child(odd) td {
      background: #f6f6f6;
    }
  }
}