ci:
  skip: [pretty-format-java]

repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        -   id: check-yaml
        -   id: check-added-large-files
  -   repo: https://github.com/pre-commit/mirrors-eslint
      rev: 'v8.40.0'  # Use the sha / tag you want to point at
      hooks:
        - id: eslint
          files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
          types: [ file ]
          additional_dependencies:
          -   eslint@8.32.0
          -   eslint-config-prettier@8.6.0
          -   eslint-plugin-prettier@4.2.1
          -   eslint-plugin-react@7.32.1
          -   typescript
          -   '@typescript-eslint/eslint-plugin'
          -   '@typescript-eslint/parser'
  -   repo: https://github.com/Yelp/detect-secrets
      rev: v1.4.0
      hooks:
      -   id: detect-secrets
          args: [ '--baseline', '.secrets.baseline' ]
          exclude: package.lock.json
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.8.0
    hooks:
      - id: pretty-format-java
        args: [ --autofix ]
