repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
            exclude: '^.*/package-lock.json$'
        -   id: check-yaml
        -   id: check-added-large-files
  -   repo: https://github.com/pre-commit/mirrors-eslint
      rev: 'v9.0.0-beta.2'  # Use the sha / tag you want to point at
      hooks:
        - id: eslint
          files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
          types: [ file ]
          additional_dependencies:
          -   eslint
          -   eslint-config-prettier
          -   eslint-plugin-prettier
          -   eslint-plugin-react
          -   typescript
          -   '@typescript-eslint/eslint-plugin'
          -   '@typescript-eslint/parser'
  -   repo: https://github.com/Yelp/detect-secrets
      rev: v1.4.0
      hooks:
      -   id: detect-secrets
          args: [ '--baseline', '.secrets.baseline' ]
          exclude: package.lock.json
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    -   id: shellcheck
