* @US-Trustee-Program/ustp-team @US-Trustee-Program/flexion

CODEOWNERS @US-Trustee-Program/ustp-team
LICENSE.md @US-Trustee-Program/ustp-team

ops/cloud-deployment/ustp-cams-network.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/network @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/network/sql-vnet-rule.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/keyvault @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/cosmos/cosmos-account.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/cosmos/cosmos-role-assignment.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/cosmos/cosmos-custom-role.bicep @US-Trustee-Program/enterprise-architecture
ops/cloud-deployment/lib/identity @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/slots/az-config-pep.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/slots/az-slot-api-resource-deploy.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/slots/az-slot-web-resource-deploy.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/az-add-allowed-ip.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/az-rm-allowed-ip.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/azure-deploy.sh @US-Trustee-Program/enterprise-architecture
ops/scripts/pipeline/az-cosmos-deploy.sh @US-Trustee-Program/enterprise-architecture
