.App {
  .body {
    .case-detail {
      h2 {
        .case-number {
          padding-right: 2rem;
        }
      }
      .back-button {
        display: inline-block;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
        svg {
          margin-right: 0.5rem;
          vertical-align: text-bottom;
        }
      }
      .case-card-list {
        .case-card {
          ul.usa-list {
            li {
              padding-left: 0.5rem;
            }
            .unassigned-placeholder {
              padding-left: 0.5rem;
            }
            .case-detail-item-name {
              padding-right: 0.5rem;
            }
          }
        }
      }
      .assigned-staff-list {
        .individual-assignee {
          .vertical-divider {
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}
