@use '../styles/abstracts/colors';
@use '../styles/abstracts/tables';

.usa-table-container--scrollable .usa-table.case-list {
  width: 83.3%;
  max-width: 2000px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .usa-table-container--scrollable .usa-table.case-list {
    width: 100%;
    padding: 50px 0;
    td.attorney-list {
      white-space: wrap;
    }
  }
}
