.search-results {
  .attorney-list {
    .table-flex-container {
      display: flex;
      position: relative;
      align-content: center;

      .attorney-list-container {
        .unassigned {
          font-weight: bold;
        }
        flex: 1;
        padding-right: 20px;
      }
      .table-column-toolbar {
        padding-left: 20px;
        align-self: center;
        text-align: right;
        border-left: 1px solid #dddddd;

        button {
          padding: 0.75rem 1rem;
        }
      }
    }
  }
}
