.search-results {
  .usa-table {
    margin-top: 1.5rem;
  }
  .attorney-list {
    .table-flex-container {
      display: flex;
      position: relative;
      align-content: center;

      .attorney-list-container {
        .unassigned {
          font-weight: bold;
        }
        flex: 1;
        padding-right: 20px;
      }
      .table-column-toolbar {
        padding-left: 20px;
        text-align: right;

        button {
          padding: 0;
        }
      }
    }
  }
}
