.search-results {
  .usa-table {
    margin-top: 1.5rem;
  }
  .attorney-list {
    .table-flex-container {
      display: flex;
      position: relative;
      align-items: flex-start;

      .attorney-list-container {
        .unassigned {
          font-weight: bold;
        }
        flex: 1;
        padding-right: 20px;
      }
      .table-column-toolbar {
        position: relative;
        width: 3rem;
        flex-shrink: 0;

        button {
          position: absolute;
          top: 0.3125rem;
          right: 0;
          padding: 0;
        }

        .cams-icon-label span {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
