.date-information {
  .usa-card__body {
    h4 {
      margin-bottom: 1rem;
    }

    .date-list {
      margin: 0;

      > div {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.75rem;

        &:last-child {
          margin-bottom: 0;
        }

        dt, dd {
          margin: 0;
        }

        .case-detail-item-name {
          font-weight: 700;
        }
      }
    }
  }
}
