.debtor-card-container {
  margin-top: 0;
  margin-bottom: 0;

  .debtor-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 1.25rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    dl > div {
      gap: 0;
    }

    .info-group dl > div dt {
      display: inline;
      margin: 0;
      margin-right: 0.25rem;
    }

    .info-group dl > div dd {
      display: inline;
      margin: 0;
    }

    .case-detail-item-name {
      font-weight: 700;
      padding-right: 0;
    }
  }
}
