$primary: #005ea2;
$navy: #162e51;
$gold: #ffbe2e;
$eagle: #2e2e2a;
$yellow-20: #e6c74c;
$success: #ecf3ec;

$secondary-dark: #b50909;
$secondary-darker: #8b0a03;
$warning-light: #ffffca;
$warning-text: #990000;

$disabledInputText: #454545;
$disabledInputBackground: #c9c9c9;

// TODO figure out how to load USWDS styles in
//color: $theme-color-disabled-text;
//background-color: $theme-color-disabled;
