.authorized-use-only {
  @counter-style parenthesized {
    system: extends numeric;
    prefix: "(";
    suffix: ") ";
  }

  .usa-card {
    margin-top: 1.5rem;
  }

  .grid-container {
    padding: 0;

    .grid-col {
      p {
        margin-top: 0;
        font-size: 1rem;
      }

      ul {
        padding-left: 1rem;

        li {
          font-size: 1rem;
        }
      }
    }
  }

  .grid-col:first-child {
    padding-right: 1rem;
  }
}
