.authorized-use-only {
  @counter-style parenthesized {
    system: extends numeric;
    prefix: "(";
    suffix: ") ";
  }

  .usa-card {
    margin-top: 1.5rem;

    // Make h1 heading look like h4 to maintain visual consistency
    .usa-card__heading {
      font-size: 1.25rem; // Same as USWDS h4 size
      font-weight: 600; // Same as USWDS h4 weight
      line-height: 1.3; // Same as USWDS h4 line-height
    }
  }

  .grid-container {
    padding: 0;

    .grid-col {
      p {
        margin-top: 0;
        font-size: 1rem;
        line-height: 1.5;
      }

      ul {
        padding-left: 1rem;

        li {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }

  .grid-col:first-child {
    padding-right: 1rem;
  }
}
