.staff-assignment {
  .screen-heading {
    display: block;
    position: relative;

    h1 {
      display: inline-block;
      margin-right: 1rem;
    }
    .usa-button {
      position: absolute;
      margin-top: 1.5rem;
    }
  }
  .staff-assignment-filter-container {
    #staff-assignees {
      width: 20rem;
    }
  }
}
