.staff-assignment {
  .screen-heading {
    h1 {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  .staff-assignment-filter-container {
    #staff-assignees {
      width: 20rem;
    }

    .usa-form-group {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  .case-assignment-modal-toggle {
    .cams-icon-label {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      span {
        font-size: 1.06rem;
      }
      svg {
        top: 0;
      }
    }
  }
}
