.staff-assignment {
  .screen-heading {
    display: flex;
    align-items: center;

    h1 {
      display: inline-block;
      margin-right: 1rem;
      line-height: 1rem;
    }
  }

  .staff-assignment-filter-container {
    #staff-assignees {
      width: 20rem;
    }

    .usa-form-group {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
}
