.associated-cases {
  table#associated-cases-table {
    th.title-column {
      width: 40%;
    }
    td.title-column {
      white-space: normal;
    }
    white-space: nowrap;

    tbody {
      td {
        vertical-align: middle;

        .raw-svg-icon {
          margin-right: 0.5rem;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
  }
}
