$blackIconFilter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(217deg) brightness(108%) contrast(108%);

#case-detail-court-docket-panel {
  .docket-entry {
    padding-bottom: 2rem;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .docket-content {
      line-height: 24px;
    }
  }
}
