@import '../../styles/abstracts/colors';

#case-detail-court-docket-panel {
  .docket-entry {
    padding-bottom: 2rem;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .docket-content {
      line-height: 24px;
      ::highlight(search-results) {
        background-color: $yellow-20;
        color: black;
      }
    }
    .document-number-column {
      text-align: right;
    }
    .docket-entry-header {
      font-weight: bold;
    }
  }
}
