@import '../../styles/abstracts/colors';

#case-detail-court-docket-panel {
  .docket-entry {
    padding-bottom: 2rem;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .docket-content {
      line-height: 24px;
      ::highlight(search-results) {
        background-color: $yellow-20;
        color: black;
      }
      .docket-full-text {
        padding-top: 0.5rem;
      }
      .docket-documents {
        padding-top: 0.5rem;
        li {
          padding-bottom: 0.25rem;
        }
        li:last-child {
          padding-bottom: 0;
        }
      }
    }
    .document-number-column {
      text-align: right;
    }
    .docket-entry-header {
      font-weight: bold;
    }
  }
  .sort {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    text-align: end;
  }
  .sort-button {
    overflow: hidden;
    width: 11rem;
    vertical-align: bottom;
  }
  .sort-button-icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
  }

}
