.trustee-detail-screen {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1024px) {
  .trustee-detail-screen {
    .screen-header {
      display: block;
      .tag-list {
        padding: 0;
        padding-bottom: 1rem;
      }
    }
  }
}
