.record-detail .trustee-detail-screen {
  h2 {
    margin-bottom: 1rem;
  }
}
.trustee-detail-screen, .trustee-form-screen {
  .field-group {
    .usa-form-group {
      margin-top: 0;
    }
  }
  .trustee-detail-screen-content-container {
    .trustee-detail-screen-info-container {
      display: flex;
      column-gap: 1.5rem;
      flex: 1;

      .left-navigation-pane-container {
        flex-shrink: 0;
      }

      .main-content-area {
        flex: 1;
      }
    }
  }
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .record-detail-container {
    .record-detail-card-list:first-child {
      margin-right: 5rem;
    }
    .usa-alert {
      margin-top: 0;
      margin-bottom: 1.2rem;
    }
  }
  .title-bar {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 0.75rem;
    }
    .usa-button {
      line-height: 2rem;
    }
  }
  .trustee-status {
    text-transform: capitalize
  }
}

@media screen and (max-width: 1024px) {
  .trustee-detail-screen {
    .screen-header {
      display: block;
      .tag-list {
        padding: 0;
        padding-bottom: 1rem;
      }
    }
  }
}
