@use '../../../styles/abstracts/colors';

.case-notes-panel {
  .draft-notes-alert-container {
    padding-bottom: .5rem;
  }

  .case-notes-form-container {
    padding-bottom: 2rem;
  }

  #textarea-note-creation {
    width: 100%;
  }

  .text-wrapper {
    max-width: 560px;
  }

  #searchable-case-notes {
    list-style-type: none;
    margin-top: 0;
    padding-left: unset;

    .case-note-metadata {
      margin-top: 1.25rem;
      margin-bottom: .25rem;
    }

    .case-note {
      max-width: unset;
      padding-top: 1.5rem;
    }

    .case-note-toolbar {
      button {
        margin-left: 1.5rem;
      }
    }

    .case-note:not(:last-child) {
      border-bottom: 1px solid black;
      padding-bottom: .5rem;
    }

    ::highlight(search-results) {
      background-color: colors.$yellow-20;
      color: black;
    }
  }
}
