.usa-modal .usa-modal__content h2.usa-modal__heading {
  text-align: left;
  .case-number {
    white-space: nowrap;
  }
}

#assign-attorney-modal-overlay.usa-modal-overlay {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.assign-attorney-modal {
  width: 600px;
  max-width: 85%;

  .attorney-selection-fieldset {
    border: none;
    margin: 0;
    padding: 0.5rem 0;

    .attorney-name-legend {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0 5px;
      margin-bottom: 0;
    }
  }

  .usa-alert-container {
    top: 20px;
    margin-bottom: 1rem;
  }
  .usa-modal__footer {
    margin-top: 0;
  }
  .attorney-list {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 1rem 0.5rem 0 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 250px;

    border: 1px solid #aaa;
    border-radius: 3px;

    .usa-form-group {
      margin-top: 0;
    }
  }
}
