.trustee-district-filter {
  margin-bottom: 1.5rem;

  .usa-accordion__heading {
    margin-bottom: 1.5rem;
    .usa-accordion__button {
      padding-left: 1rem;
    }
  }
  .usa-accordion__heading.usa-accordion--expanded {
    margin-bottom: 0;
  }
  .usa-accordion__content {
    padding: 1rem 1.25rem 1rem 1rem;
    .filter-content {
      margin-top: 0.5rem;
      .usa-form-group {
        margin-top: 0;
      }
    }
  }
  .usa-accordion__content:not([hidden]) + .filter-pills-container {
    margin-top: 0.25rem;
  }

  .filter-toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
    color: #1b1b1b;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    text-decoration: none;

    &:hover {
      color: #005ea2;
    }

    .usa-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .filter-content {
    margin-top: 1rem;
    animation: slideDown 0.2s ease-out;

    .filter-control {
      max-width: 30rem;

      .combo-box-form-group {
        max-width: 30rem;
      }
    }
  }

  .filter-pills-container {
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 30rem) {
    .filter-content {
      .filter-control {
        max-width: 100%;
      }
    }

  }
}
