@use 'uswds-core' with (
  $theme-font-path: '/assets/fonts',
  $theme-image-path: './styles/img'
);
@use 'uswds';
@use 'styles/abstracts/colors';
@use 'styles/abstracts/tables';

.App {
  padding: 0;

  .body {
    padding: 0 50px 50px 50px;

    h1, h2 {
      text-align: left;
    }
    h3 {
      margin-bottom: 0;
      clear: both;
      font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
      line-height: 1.1;
      font-weight: 400;
      text-transform: uppercase;
      font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
      font-size: 1rem;
      color: rgba(0, 0, 0, .6);
      letter-spacing: .025em;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    table.case-list {
      td {
        .mobile-title {
          visibility: hidden;
          display: inherit;
          width: 0;
          height: 0;
          padding: 0;
          margin: 0;
          white-space: nowrap;
          z-index: 5;
          position: absolute;
        }
      }
    }
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: colors.$eagle;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  #assign-attorney-modal-overlay.usa-modal-overlay{
    overflow-y: scroll;
  }
}

@media screen and (max-width: 800px) {
  .App {
    .body {
      padding: 50px 0;

      table.case-list {
        display: block;

        thead, tbody, th, td,
        tr {
          display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }

        tr {
          border: tables.$tableBorder;

          td {
            /* Behave  like a "row" */
            border: none;
            position: relative;
            .mobile-title {
              display: inline-block;
              font-weight: 700;
              visibility: visible;
              width: auto;
              height: auto;
              white-space: normal;
              padding-right: 10px;
              z-index: 1;
              position: relative;
            }
          }
        }
      }

    }
  }
}
