@use 'uswds-core' with ($theme-font-path: './styles/fonts',
  $theme-image-path: './styles/img'
);
@use 'uswds';
@use 'styles/abstracts/colors';
@use 'styles/abstracts/tables';

.App {
  padding: 0;

  .body {
    padding: 50px;

    h1, h2 {
      text-align: center;
    }

    table.case-list {
      td {
        .mobile-title {
          visibility: hidden;
          display: inherit;
          width: 0;
          height: 0;
          padding: 0;
          margin: 0;
          white-space: nowrap;
          z-index: 5;
          position: absolute;
        }
      }
    }
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: colors.$eagle;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

}

@media screen and (max-width: 800px) {
  .App {
    .body {
      padding: 50px 0;

      table.case-list {
        display: block;

        thead, tbody, th, td,
        tr {
          display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
        }

        tr {
          border: tables.$tableBorder;

          td {
            /* Behave  like a "row" */
            border: none;
            position: relative;
            .mobile-title {
              display: inline-block;
              font-weight: 700;
              visibility: visible;
              width: auto;
              height: auto;
              white-space: normal;
              padding-right: 10px;
              z-index: 1;
              position: relative;
            }
          }
        }
      }

    }
  }
}
