.App {
  .body {
    .case-detail {
      .back-button {
        display: inline-block;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
        svg {
          margin-right: 0.5rem;
          vertical-align: text-bottom;
        }
      }
      .case-card-list {
        .case-card {
          .case-detail-item-name {
            padding-right: 0.5rem;
          }
        }
      }
      .assigned-staff-list {
        .case-detail-region-id {
          padding-bottom: 0.5rem;
        }
        .individual-assignee {
          .vertical-divider {
            padding: 0 0.5rem;
          }
        }
      }
    }
  }
}
