.consolidation-accordion-content {
  fieldset.consolidation-type-container {
    max-width: 250px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    .consolidation-text {
      padding: 1rem 0;
      font-size: 1.25rem;
    }
  }

  .instructional-text {
    padding-bottom: 1rem;
  }
  table {
    width: 100%;
  }
  tr.case-info td {
    border-bottom: 0 solid;
  }
  tr.docket-entry td {
    border-top: 0 solid;
  }

  .lead-case-form-container {
    max-width: 425px;
  }

  .verification-info-list {
    padding-left: 0;
    li {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      vertical-align: top;
    }
    li::before {
      display: inline-block;
      content: '';
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 10px;
      top: 10px;
      vertical-align: top;
      background: transparent;
    }
    li.valid::before {
      display: inline-block;
      content: '';
      background: url(/assets/styles/img/usa-icons-bg/check--blue-60v.svg) no-repeat;
      background-repeat: no-repeat;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 10px;
      top: 10px;
      vertical-align: top;
    }
  }
}
