<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <context>
        <name>cams-ui</name>
        <desc/>
        <inscope>true</inscope>
        <incregexes>${BASE_URL}.*</incregexes>
        <tech>
            <include>Db.Microsoft SQL Server</include>
            <include>Db.MongoDB</include>
            <include>Language.JavaScript</include>
            <include>SCM.Git</include>
            <exclude>Db</exclude>
            <exclude>Db.CouchDB</exclude>
            <exclude>Db.Firebird</exclude>
            <exclude>Db.HypersonicSQL</exclude>
            <exclude>Db.IBM DB2</exclude>
            <exclude>Db.MariaDB</exclude>
            <exclude>Db.Microsoft Access</exclude>
            <exclude>Db.MySQL</exclude>
            <exclude>Db.Oracle</exclude>
            <exclude>Db.PostgreSQL</exclude>
            <exclude>Db.SAP MaxDB</exclude>
            <exclude>Db.SQLite</exclude>
            <exclude>Db.Sybase</exclude>
            <exclude>Language</exclude>
            <exclude>Language.ASP</exclude>
            <exclude>Language.C</exclude>
            <exclude>Language.JSP/Servlet</exclude>
            <exclude>Language.Java</exclude>
            <exclude>Language.Java.Spring</exclude>
            <exclude>Language.PHP</exclude>
            <exclude>Language.Python</exclude>
            <exclude>Language.Ruby</exclude>
            <exclude>Language.XML</exclude>
            <exclude>OS</exclude>
            <exclude>OS.Linux</exclude>
            <exclude>OS.MacOS</exclude>
            <exclude>OS.Windows</exclude>
            <exclude>SCM</exclude>
            <exclude>SCM.SVN</exclude>
            <exclude>WS</exclude>
            <exclude>WS.Apache</exclude>
            <exclude>WS.IIS</exclude>
            <exclude>WS.Tomcat</exclude>
        </tech>
        <urlparser>
            <class>org.zaproxy.zap.model.StandardParameterParser</class>
            <config>{"kvps":"&amp;","kvs":"=","struct":[]}</config>
        </urlparser>
        <postparser>
            <class>org.zaproxy.zap.model.StandardParameterParser</class>
            <config>{"kvps":"&amp;","kvs":"=","struct":[]}</config>
        </postparser>
        <authentication>
            <type>4</type>
            <strategy>AUTO_DETECT</strategy>
            <pollurl/>
            <polldata/>
            <pollheaders/>
            <pollfreq>60</pollfreq>
            <pollunits>REQUESTS</pollunits>
            <script>
                <name>okta-auth</name>
                <path>/test/dast/okta-auth.zst</path>
                <params>
                    <param name="OKTA_USERNAME" value="${OKTA_USERNAME}"/>
                    <param name="OKTA_PASSWORD" value="${OKTA_PASSWORD}"/>
                </params>
            </script>
        </authentication>
        <forceduser>-1</forceduser>
        <session>
            <type>3</type>
            <headers>QXV0aG9yaXphdGlvbg==:QmVhcmVyICR7and0VG9rZW59</headers>
        </session>
        <authorization>
            <type>0</type>
            <basic>
                <header/>
                <body/>
                <logic>OR</logic>
                <code>401</code>
            </basic>
        </authorization>
    </context>
</configuration>
