.edit-chapter13-standing-other-key-dates {
  .date-picker .usa-date-picker {
    max-width: 20rem;
  }

  .month-year-selector {
    margin-top: 2rem;
  }

  .usa-button-group {
    margin-top: 2rem;

    #cancel-chapter13-standing-other-key-dates {
      margin-left: 0.5rem;
    }
  }
}
