.trustee-form-screen {
  .form-container {
    .form-column {
      .field-group {
        .usa-form-group.assistant-state-input {
          width: 100%;
        }

        .usa-form-group.assistant-zip-input {
          max-width: 186px;
          width: 100%;
        }

        .usa-form-group.assistant-phone-input {
          max-width: 186px;
          width: 100%;
        }

        .usa-form-group.assistant-extension-input {
          max-width: 186px;
          width: 100%;
        }
      }
    }
  }
}
