@import '@/lib/components/uswds/forms.scss';

.other-info-trustee-form-screen {
  .form-container {
    .bank-field {
      position: relative;

      .bank-field-input {
        position: relative;
        width: 100%;
        max-width: 400px;
      }
    }
    .form-column .field-group.bank-field:not(:has(~ .field-group.bank-field)) {
      margin-bottom: 1rem;
    }
  }
  .trustee-bank-input,
  .trustee-software-input {
    display: inline-block;
    width: 100%;
    max-width: 400px;
  }
  .add-bank-button {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .other-info-trustee-form-screen {
    .form-container {
      .bank-field {
        .bank-field-input {
          min-width: 100%;
        }
      }
    }
    .trustee-bank-input,
    .trustee-software-input {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 479px) {
  .other-info-trustee-form-screen {
    .cancel-button {
      margin: 1rem auto;
    }
  }
}
