@import '@/lib/components/uswds/forms.scss';

.trustee-other-info-form-screen {
  .trustee-bank-input {
    display: inline-block;
    width: 100%;
    max-width: 400px;
  }
  .remove-bank-button {
    margin-left: 1rem;
    color: $secondary-dark;
  }
  .add-bank-button {
    margin: 1rem 0 2rem 0;
  }
}

@media screen and (max-width: 900px) {
  .trustee-other-info-form-screen {
    .trustee-bank-input {
      width: calc(100% - 200px);
      min-width: 150px;
    }
  }
}
