.staff-trustee-form-screen {
  .form-container {
    .form-column {
      .field-group {
        .usa-form-group.staff-state-input {
          width: 100%;
        }

        .usa-form-group.staff-zip-input {
          max-width: 186px;
          width: 100%;
        }

        .usa-form-group.staff-phone-input {
          max-width: 186px;
          width: 100%;
        }

        .usa-form-group.staff-extension-input {
          max-width: 186px;
          width: 100%;
        }
      }
    }
  }
}
