.trustee-form-screen {
  h1.create-trustee {
    display: block;
    margin: 1rem 0 1.5rem 0;
  }

  form {
    width: 100%;
    min-width: 200px;

    .form-container {
      .form-column {
        .field-group {
          .usa-form-group {
            max-width: 385px;
            width: 100%;
          }

          .usa-form-group.trustee-zip-input {
            max-width: 200px;
            width: 100%;
          }

          .usa-form-group.trustee-phone-input {
            max-width: 220px;
            width: 100%;
          }
          .usa-form-group.trustee-extension-input {
            max-width: 150px;
            width: 100%;
          }
        }
      }
    }

    .form-header {
      margin-bottom: 1rem;
    }
  }

  .usa-button-group {
    padding: 1rem 5px;
  }

  width: 100%;
  max-width: 100vw;

  // Ensure we work within the global cams-content constraints
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .trustee-form-screen form {
    .form-container {
      .form-column {
        min-width: 200px;
        .field-group {
          gap: 0;
          .usa-form-group.trustee-zip-input,
          .usa-form-group.trustee-phone-input,
          .usa-form-group.trustee-extension-input {
            max-width: 385px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .trustee-form-screen form {
    .form-container {
      flex-direction: column;
      gap: 0;

      .form-column,
      .form-header {
        width: 95%;
        max-width: none;
        margin: 0 auto;

        .field-group {
          flex-direction: column;
          gap: 0;

          width: 100%;

          .usa-form-group,
          .usa-form-group.trustee-zip-input,
          .usa-form-group.trustee-phone-input,
          .usa-form-group.trustee-extension-input {
            max-width: none;
          }
        }
      }
    }
    .usa-button-group {
      padding: 1rem 15px;
    }
  }
}
