.bank-detail {
  .bank-detail-content-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;

    .left-navigation-pane-container {
      flex-shrink: 0;
    }

    .main-content-area {
      flex: 1;
      min-width: 0;
    }
  }
}

.bank-detail-trustees,
.software-bank-trustees {
  .trustees-count {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  #bank-trustees-table,
  #software-bank-trustees-table {
    width: 50%;
    min-width: 20rem;

    @media (max-width: 640px) {
      width: 100%;
    }
  }
}
