.banks-admin-panel {
  .grid-row:first-of-type {
    margin-top: 1.5rem;
  }

  .banks-table-container {
    max-width: 38rem;
    margin-top: 1.25rem;
  }

  .banks-table-status-col {
    width: 7rem;
  }
}
