.usa-table.consolidation-cases-table {
  .usa-form-group.usa-checkbox {
    margin-top: 0;
  }

  label.usa-checkbox__label {
    margin-top: 0;
  }

  .checkbox-toggle {
    label.usa-checkbox__label {
      position: relative;
      margin-top: -0.75rem;
    }
  }

  .mark-as-lead-button {
    margin-bottom: 1rem;
  }
}
