.data-verification-screen {
  .order-list-container {
    .order-type {
      span {
        background-color: #0050d8;
        color: white;
        padding: 2px 8px 2px 8px;
        border-radius: 2px;
      }
    }
    .order-form {
      .court-selection {
        display: flex;
        > div {
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding-right: 1rem;
        }
        div.transfer-from-to__div {
          padding-bottom: 0.5rem;

          .new-court__select {
            min-width: 300px;
          }
        }
      }
    }
    .transfer-highlight__span {
      padding: 0 0.3rem;
      font-weight: bold;
    }
  }

  .event-status-label {
    height: 2rem;
  }

  .event-type-label {
    height: 2rem;
  }

  .order-status {
    span,
    div.filter {
      display: inline-block;
      color: white;
      padding: 0.125rem 0.5rem;
      border-radius: 0.125rem;
    }
    div.filter {
      display: inline-flex;
      align-items: center;
      flex-flow: row;
      flex-direction: row;
      justify-content: center;
      svg {
        display: none;
        padding-left: 0.125rem;
      }
    }
    .filter {
      margin-bottom: 1.5rem;
    }
    div.event-header {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .event-type-container {
      display: inline-block;
      flex-flow: row;
    }
    .event-status-container {
      display: inline-block;
      flex-flow: row;
      margin-left: 1rem;
    }
    .consolidation {
      background: #0050d8;
    }
    .transfer {
      background: #0050d8;
    }
    .consolidation .inactive {
      background: #5c5c5c;
    }
    .transfer .inactive {
      background: #5c5c5c;
    }
    .pending {
      // pa11y failed background color #C2850C for contrast.
      // The backgound color #a26b00 was specified by pa11y.
      // background: #C2850C;
      background: #a26b00;
    }
    .approved {
      background: #008817;
    }
    .rejected {
      background: #d83933;
    }
    .filter {
      margin-right: 0.5rem;
    }
    .filter:hover {
      cursor: pointer;
    }
    .inactive {
      background: #5c5c5c;
      font-weight: normal;
    }
    .active {
      font-weight: bold;
      svg.active {
        display: inline;
      }
    }
  }
  .data-verification-accordion-header {
    padding: 1rem 3.5rem 1rem 1.25rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 1024px) {
  .data-verification-screen {
    .order-list-container {
      .order-form {
        .court-selection {
          display: block;

          .new-court__select {
            min-width: 0;
          }
        }
      }
    }
  }
}
