.accordion-content {
  .transfer-text {
    padding: 1rem 0;
    font-size: 1.25rem;
  }
  .preview-results {
    padding-bottom: 1rem;
  }
  .form-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .select-container {
      flex-grow: 1;
    }

    label {
      white-space: nowrap;
    }
    select {
      width: 100%;
    }
  }
  .button-bar {
    padding-top: 2rem;
  }
  blockquote {
    background: rgba(0,0,0,.05);
    padding: 1rem;
  }
  .case-verification {
    padding: 0.5rem 0;
    .validation-alert {
      max-width: 450px;
    }
  }
  .button-group-section {
    label {
      font-weight: bold;
    }
  }
  #loading-spinner {
    margin: 2rem 0;
  }
  .transfer-instructions {
    margin-top: 2rem;
  }
  .alert-container {
    margin: 3rem 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    #suggested-cases-not-found {
      display: inline-block;
      max-width: 620px;
    }
  }
}
