{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "stackName": {
      "value": "ustp-cams-dev"
    },
    "kvResourceGroup": {
      "value": "bankruptcy-oversight-support-systems"
    },
    "kvName": {
      "value": "kv-ustp-cams-dev"
    },
    "virtualNetworkName": {
      "value": "vnet-ustp-cams-dev"
    },
    "privateEndpointSubnetName": {
      "value": "snet-ustp-cams-dev-bbd38a-keyvault"
    },
    "privateEndpointSubnetPrefix": {
      "value": "10.10.14.0/28"
    },
    "networkResourceGroup": {
      "value": "rg-cams-network-dev-bbd38a"
    },
    "deployNetworkConfig": {
      "value": false
    },
    "appName": {
      "value": ""
    },
    "location": {
      "value": ""
    },
    "deployVnet": {
      "value": false
    },
    "vnetAddressPrefix": {
      "value": []
    },
    "deployNetwork": {
      "value": false
    },
    "networkResourceGroupName": {
      "value": ""
    },
    "virtualNetworkName": {
      "value": ""
    },
    "linkVnetIds": {
      "value": []
    },
    "deployWebapp": {
      "value": false
    },
    "webappName": {
      "value": ""
    },
    "webappResourceGroupName": {
      "value": ""
    },
    "webappSubnetName": {
      "value": ""
    },
    "webappSubnetAddressPrefix": {
      "value": ""
    },
    "webappPrivateEndpointSubnetName": {
      "value": ""
    },
    "webappPrivateEndpointSubnetAddressPrefix": {
      "value": ""
    },
    "webappPlanName": {
      "value": ""
    },
    "deployFunctions": {
      "value": false
    },
    "apiName": {
      "value": ""
    },
    "apiFunctionsResourceGroupName": {
      "value": ""
    },
    "apiFunctionsSubnetName": {
      "value": ""
    },
    "apiFunctionsSubnetAddressPrefix": {
      "value": ""
    },
    "apiPrivateEndpointSubnetName": {
      "value": ""
    },
    "apiPrivateEndpointSubnetAddressPrefix": {
      "value": ""
    },
    "apiPlanName": {
      "value": ""
    },
    "privateDnsZoneName": {
      "value": ""
    },
    "sqlServerName": {
      "value": ""
    },
    "sqlServerResourceGroupName": {
      "value": ""
    },
  }
}
