.left-navigation-column {
  min-width: 175px;
}

.left-navigation-pane-container {
  flex-shrink: 0;
  min-width: 150px;

  .usa-sidenav__item {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
