.record-detail {
  .record-detail-content {
    .grid-gap-lg {
      .record-card-list:first-child {
        padding-left: 0;
      }
    }
  }

  .case-detail-header {
    padding-top: 8px;
  }

  .link-icon {
    margin-left: 0.25rem;
    vertical-align: middle;
  }
  .record-detail-container {
    display: flex;
    column-gap: 5rem;
    flex-wrap: wrap;
  }
  .record-detail-card-list {
    .record-detail-card {
      line-height: 1.5;
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      min-width: 18rem;

      ul {
        margin: 0;
      }
    }
  }
}
