$cams-theme-background: white;

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
  line-height: 1.5;
  font-size: 1.375rem;
  font-weight: 700;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1rem;
  font-weight: 700;
}

h5 {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 700;
}

h6 {
  margin: 0;
  font-size: 0.8125rem;
  font-weight: 700;
}
