.my-cases {
  .draft-notes-alert-message {
    display: inline-block;
  }

  .case-status {
    margin-bottom: 1.5rem;

    span {
      display: inline-block;
      color: white;
      padding: 0rem 0.5rem 0.125rem 0.5rem;
      border-radius: 0.125rem;
      text-decoration: none;
    }
  }
}
