@use 'styles/abstracts/device-screens' as device-screens;

.my-cases {
  .draft-notes-alert-message {
    display: inline-block;
  }

  .case-status {
    margin-bottom: 1.5rem;

    span {
      display: inline-block;
      color: white;
      padding: 0rem 0.5rem 0.125rem 0.5rem;
      border-radius: 0.125rem;
      text-decoration: none;
    }
  }

  @media screen and (min-width: #{device-screens.$tablet-screen-extra-small + 1}) {
    .cams-table--responsive {
      .col-case-number { flex: 3 1 0; }
      .col-case-title  { flex: 3 1 0; }
      .col-debtor-name { flex: 2 1 0; }
      .col-chapter     { flex: 2 1 0; }
      .col-date-filed  { flex: 2 1 0; }
      .col-open-closed { flex: 2 1 0; }
    }
  }
}
