.appointment-card-container {

  .appointment-card-heading {
    margin: 0 0 1.25rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .appointment-card {
    max-width: 21.5rem;

    .usa-card__body {
      .appointment-details-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 0.75rem;
          line-height: 1.5;

          &:last-child {
            margin-bottom: 0;
          }

          .appointment-label {
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 600;
          }
        }
      }
    }
  }
}
