.appointment-accordion {
  margin-bottom: 1.5rem;

  .usa-accordion__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .usa-accordion__content > *:last-child,
  .usa-accordion__content > *:first-child {
    margin-bottom: 0;

    .editable-table-card:last-of-type,
    .appointment-basic-fields:last-of-type {
      margin-bottom: 0;
    }
  }
}

.appointment-accordion-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}
