@import './shared-card-styles.scss';

.attorney-assignment-card-container {
  .attorney-assignment-card {
    @include trustee-card-styles;

    .usa-card__body {
      .attorney-assignment-card-header {
        @include trustee-card-header;
      }

      .attorney-name {
        margin-bottom: 0.4rem;
        line-height: 1.5;
      }
    }
  }
}
