.key-dates-card.usa-card {
  width: auto;
  max-width: 100%;
  margin-bottom: 1rem;

  .usa-card__body {
    padding: 1rem 1.5rem;
  }

  .key-dates-card-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;

    h4 {
      margin: 0;
    }

    .usa-button {
      margin-left: auto;
    }
  }

  .key-dates-card-fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.75rem;
    row-gap: 1rem;
    padding-left: 1rem;
  }

  .key-dates-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .key-dates-field-label {
    font-weight: 700;
    padding-bottom: 0.5rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid #a9aeb1;
  }
}
