.past-key-dates-card {
  max-width: 21.5rem;
  margin-bottom: 1.56rem;

  .usa-card__body {
    padding-top: 1.44rem;
    padding-right: 1.64rem;
    padding-bottom: 1.27rem;

    .past-key-dates-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 0.65rem;

      h4 {
        margin: 0;
      }
    }

    .past-key-dates-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.4rem;
        line-height: 1.5;

        &:last-child {
          margin-bottom: 0;
        }

        .past-key-dates-label {
          font-family: "Source Sans Pro", sans-serif;
          font-weight: 600;
        }
      }
    }
  }
}
