@mixin trustee-card-styles {
  width: 18.25rem;
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 0;
  }

  .usa-card__body {
    padding-top: 1.44rem;
    padding-right: 1.64rem;
    padding-bottom: 1.27rem;
    min-height: 10rem;
  }
}

@mixin trustee-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.65rem;

  h4 {
    margin: 0;
    font-weight: bold;
  }
}
