@import './shared-card-styles.scss';

.trustee-overview-card-container {
  .trustee-overview-card {
    @include trustee-card-styles;

    .usa-card__body {
      .trustee-overview-card-header {
        @include trustee-card-header;
      }

      .trustee-name {
        margin-bottom: 0.4rem;
        line-height: 1.5;
      }

      .trustee-name-fields {
        margin-bottom: 0.4rem;

        .trustee-name-field {
          margin-bottom: 0.25rem;
          line-height: 1.5;

          .trustee-name-label {
            display: block;
            font-size: 0.85rem;
            color: #71767a;
            margin-bottom: 0.1rem;
          }
        }
      }
    }
  }
}
