.trustee-appointments-list {
  .toolbar {
    margin-bottom: 1.5rem;
  }
  .appointments-list {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
  }
}

.appointment-accordion {
  margin-bottom: 0.75rem;

  .appointment-accordion-title {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .usa-tag {
      font-weight: normal;
    }
  }

  .usa-accordion__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
