.trustee-case-list-heading {
  line-height: 1;
  margin-bottom: 1rem;
}

.usa-alert-container.inline-alert.case-list-alert {
  position: fixed;
  width: 40%;

  .usa-alert__body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
