@use '@/styles/abstracts/colors';

.usa-accordion__content:has(.trustee-match-content) {
  padding-top: 0;
}

.trustee-match-content {
  a {
    color: #005ea2;
  }

  p.problem-statement {
    margin: 1.5rem 0;
    font-size: 1rem;
  }

  p.other-matches-subtext {
    font-size: 1rem;
    margin: 1.5rem 0;
  }

  p.other-matches-count {
    font-weight: bold;
    margin: 0 0 1rem;
  }

  .trustee-data-grid {
    margin-bottom: 1.5rem;

    .trustee-data-header {
      font-weight: bold;
      font-size: 0.875rem;

      .trustee-data-cell {
        padding: 0.5rem 0.5rem 0.5rem 0;
        border-bottom: 1px solid #1b1b1b;

        &.no-border {
          border-bottom: none;
        }
      }
    }

    .trustee-data-row {
      font-size: 0.875rem;

      .trustee-data-cell {
        padding: 0.5rem 0.5rem 0.5rem 0;
        word-wrap: break-word;
        border-bottom: 1px solid #1b1b1b;

        &.no-border {
          border-bottom: none;
        }
      }
    }
  }

  .no-candidates-message {
    margin: 0.5rem 0 1rem;
  }

  .match-trustee-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: #005ea2;
    text-decoration: underline;
    svg {
      width: 1.275rem;
      height: 1.275rem;
    }

    &:is(button) {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      font-size: inherit;
      font-family: inherit;
    }
  }

  .search-trustee-inline-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: #005ea2;
    text-decoration: underline;
  }

  .search-link-container {
    .link-message {
      vertical-align: text-bottom;
      line-height: 1.59rem;
      padding-right: 0.5rem;
    }
    .search-trustee-link {
      margin-top: 0.5rem;
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
      svg {
        width: 1.275rem;
        height: 1.275rem;
      }
    }
  }

  .reject-task-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.5rem;
    color: colors.$secondary-dark;
    text-decoration: underline;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    svg {
      width: 1.275rem;
      height: 1.275rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .trustee-match-content {
    .trustee-data-grid {
      .trustee-data-header {
        display: none;
      }

      .trustee-data-row {
        display: block;
      }

      .trustee-data-cell.no-border {
        display: none;
      }

      .trustee-data-cell[data-cell] {
        display: block;
        width: 100%;
        min-height: 1.75rem;
        padding: 0.25rem 0.375rem 0.25rem 30%;
        position: relative;

        &::before {
          content: attr(data-cell) ':';
          position: absolute;
          left: 0;
          top: 0.25rem;
          font-weight: 700;
          white-space: nowrap;
        }
      }
    }
  }
}
