@use '@/styles/abstracts/colors' as colors;
@use 'styles/abstracts/device-screens' as device-screens;

.trustee-search-modal {
  .trustee-data-grid {
    margin-top: 1rem;

    .trustee-data-header,
    .trustee-data-row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }

    .trustee-data-header {
      font-weight: bold;
      margin-bottom: 1rem;

      .trustee-data-cell {
        margin: 0;
        font-size: 1rem;
      }
    }

    .trustee-data-cell {
      word-wrap: break-word;
      overflow-wrap: anywhere;
      min-width: 0;
    }
  }

  .usa-modal__footer {
    margin-top: 2rem;

    .usa-button-group__item {
      margin-top: 0;
    }
  }

  [id^='trustee-search-combobox-']:not(:has(.clear-all-button)) {
    .selection-label {
      color: colors.$gray-50;
    }
  }
}

@media screen and (max-width: #{device-screens.$desktop-screen-small}) {
  .trustee-search-modal {
    .trustee-data-grid {
      .trustee-data-header {
        display: none;
      }

      .trustee-data-row {
        display: block;
      }

      .trustee-data-cell[data-cell] {
        display: block;
        width: 100%;
        padding-top: 0.5rem;

        &::before {
          content: attr(data-cell) ':';
          display: block;
          font-weight: 700;
        }
      }
    }
  }
}
