@use '@/styles/abstracts/colors' as colors;

.trustee-search-modal {
  .trustee-details {
    margin-top: 2rem;
  }

  .usa-modal__footer {
    margin-top: 2rem;
  }

  [id^='trustee-search-combobox-']:not(:has(.clear-all-button)) {
    .selection-label {
      color: colors.$gray-50;
    }
  }
}
