name: Continuous Deployment

concurrency: ${{ github.ref }}-${{ github.workflow }}

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '**/*.md'
    branches-ignore:
      - 'mob/**'
  workflow_dispatch:
    inputs:
      deployBranch:
        description:
          'deployBranch: Provision Azure resources for development branch and deploy build.'
        required: true
        default: 'false'
        type: choice
        options:
          - 'false'
          - 'true'
      enableBicepDeployment:
        description:
          'enableBicepDeployment: (Currently ignored - bicep always deploys) Execute main.bicep deployment for application component Azure
          resources'
        required: true
        default: 'false'
        type: choice
        options:
          - 'false'
          - 'true'

jobs:
  setup:
    name: Setup
    uses: ./.github/workflows/reusable-build-info.yml
    secrets: inherit # pragma: allowlist secret
    with:
      environment: ${{ endsWith(github.ref,'refs/heads/main') && 'Main-Gov' || 'Develop' }}
      enableBicepDeployment: ${{ inputs.enableBicepDeployment }}

  accessibility-test:
    uses: ./.github/workflows/reusable-accessibility.yml
    with:
      path: user-interface
      node-version: ${{ vars.NODE_VERSION }}

  unit-test-frontend:
    uses: ./.github/workflows/reusable-unit-test.yml
    with:
      path: user-interface
      node-version: ${{ vars.NODE_VERSION }}

  unit-test-backend:
    uses: ./.github/workflows/reusable-unit-test.yml
    with:
      path: backend
      node-version: ${{ vars.NODE_VERSION }}

  unit-test-common:
    uses: ./.github/workflows/reusable-unit-test.yml
    with:
      path: common
      node-version: ${{ vars.NODE_VERSION }}

  security-scan:
    name: Security
    uses: ./.github/workflows/sub-security-scan.yml
    secrets: inherit # pragma: allowlist secret

  snyk-security-scan:
    name: Snyk Security
    uses: ./.github/workflows/sub-snyk-security-scan.yml
    secrets: inherit # pragma: allowlist secret

  build:
    name: Build
    needs: [setup]
    uses: ./.github/workflows/sub-build.yml
    secrets: inherit # pragma: allowlist secret
    with:
      nodeVersion: ${{ vars.NODE_VERSION }}
      camsServerPort: ${{ vars.CAMS_SERVER_PORT }}
      camsServerProtocol: ${{ vars.CAMS_SERVER_PROTOCOL }}
      camsBasePath: ${{ vars.CAMS_BASE_PATH }}
      webappName: ${{ needs.setup.outputs.webappName }}
      apiFunctionName: ${{ needs.setup.outputs.apiFunctionName }}
      dataflowsFunctionName: ${{ needs.setup.outputs.dataflowsFunctionName }}
      environment: ${{ needs.setup.outputs.ghaEnvironment }}
      launchDarklyEnvironment: ${{ vars.CAMS_LAUNCH_DARKLY_ENV }}
      azResourceGrpAppEncrypted: ${{ needs.setup.outputs.azResourceGrpAppEncrypted }}
      slotName: ${{ needs.setup.outputs.slotName }}

  deploy:
    name: Cloud Resource Deployment
    uses: ./.github/workflows/sub-deploy.yml
    needs:
      [
        setup,
        build,
        accessibility-test,
        unit-test-frontend,
        unit-test-backend,
        unit-test-common,
        security-scan,
        snyk-security-scan,
      ]
    if: ((github.ref == 'refs/heads/main') || (inputs.deployBranch == 'true'))
    with:
      ghaEnvironment: ${{ needs.setup.outputs.ghaEnvironment }}
      azResourceGrpAppEncrypted: ${{ needs.setup.outputs.azResourceGrpAppEncrypted }}
      azResourceGrpNetworkEncrypted: ${{ needs.setup.outputs.azResourceGrpNetworkEncrypted }}
      stackName: ${{ needs.setup.outputs.stackName }}
      apiFunctionName: ${{ needs.setup.outputs.apiFunctionName }}
      dataflowsFunctionName: ${{ needs.setup.outputs.dataflowsFunctionName }}
      webappName: ${{ needs.setup.outputs.webappName }}
      environmentHash: ${{ needs.setup.outputs.environmentHash }}
      deployVnet: ${{ needs.setup.outputs.deployVnet }}
      slotName: ${{ needs.setup.outputs.slotName }}
      deployBranch: ${{ github.ref != 'refs/heads/main' }}
      deployBicep: ${{ needs.setup.outputs.deployBicep }}
    secrets: inherit # pragma: allowlist secret

  deploy-code-slot:
    name: Slot Code Deployment
    uses: ./.github/workflows/sub-deploy-code-slot.yml
    needs: [setup, deploy]
    with:
      ghaEnvironment: ${{ needs.setup.outputs.ghaEnvironment }}
      azResourceGrpAppEncrypted: ${{ needs.setup.outputs.azResourceGrpAppEncrypted }}
      stackName: ${{ needs.setup.outputs.stackName }}
      apiFunctionName: ${{ needs.setup.outputs.apiFunctionName }}
      dataflowsFunctionName: ${{ needs.setup.outputs.dataflowsFunctionName }}
      webappName: ${{ needs.setup.outputs.webappName }}
      environmentHash: ${{ needs.setup.outputs.environmentHash }}
      slotName: ${{ needs.setup.outputs.slotName }}
      initialDeployment: ${{ needs.setup.outputs.initialDeployment }}
    secrets: inherit # pragma: allowlist secret
