name: Stand Alone E2E Test Runs

concurrency: ${{ github.ref }}-${{ github.workflow }}

on: workflow_dispatch

jobs:
  setup:
    name: Setup
    uses: ./.github/workflows/reusable-build-info.yml
    secrets: inherit # pragma: allowlist secret
    with:
      environment: ${{ endsWith(github.ref,'refs/heads/main') && 'Main-Gov' || 'Develop' }}

  execute-e2e-test:
    needs: [setup]
    uses: ./.github/workflows/reusable-e2e.yml
    with:
      apiFunctionName: ${{ needs.setup.outputs.apiFunctionName }}
      slotName: ${{ needs.setup.outputs.slotName }}
      webappName: ${{ needs.setup.outputs.webappName }}
      stackName: ${{ needs.setup.outputs.stackName }}
      azResourceGrpAppEncrypted: ${{ needs.setup.outputs.azResourceGrpAppEncrypted }}
      ghaEnvironment: ${{ needs.setup.outputs.ghaEnvironment }}
      branchHashId: ${{ needs.setup.outputs.environmentHash }}
      dataflowsFunctionName: ${{ needs.setup.outputs.dataflowsFunctionName }}
    secrets: inherit # pragma: allowlist secret
