name: End-to-end Tests

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      node-version:
        required: true
        type: string

jobs:
  playwright-accessibility-test:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Get source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: ${{ inputs.node-version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install Node dependencies
        run: |
          npm ci
          npm install serve -g

      - name: Run UI in mock mode
        run: |
          export CAMS_USE_FAKE_API=true
          export CAMS_LOGIN_PROVIDER=none
          npm run build:user-interface
          pushd ${{ inputs.path }}
          serve -s build &
          if ! timeout 120s sh -c 'until nc -z localhost 3000; do sleep 1; done'; then
              echo "Webapp check timed out"
              exit 1
          fi
          popd

      - name: Install Playwright Browsers
        working-directory: ${{ inputs.path }}
        run: npx playwright install --with-deps chromium msedge

      - name: Run Playwright a11y Tests
        id: playwrightA11yTests
        run: npm run test:a11y --workspace=user-interface

      - name: Upload report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: playwright-a11y-report
          path: ${{ inputs.path }}/playwright-report/
          retention-days: 30
