name: Execute Node Project Unit Tests

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      node-version:
        required: true
        type: string

jobs:
  unit-test:
    name: Unit test ${{ inputs.path }}
    defaults:
      run:
        working-directory: ${{ inputs.path }}
        shell: bash
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"
          cache-dependency-path: ${{ inputs.path }}/package-lock.json

      - name: Run unit tests with code coverage
        run: |
          npm ci

          export CAMS_LOGIN_PROVIDER_CONFIG='{"issuer": "http://localhost:7071/api/oauth2/default", "clientId": ""}' && npm run coverage:ci
