name: Veracode Static Code Analysis Scan

on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      artifactname:
        required: true
        type: string

jobs:
  sca-scan:
    runs-on: ubuntu-latest
    name: SCA Scan ${{ inputs.path }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run Veracode SCA for ${{ inputs.path }}
        env:
          SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
          SRCCLR_REGION: ${{ secrets.SRCCLR_REGION }}
        uses: veracode/veracode-sca@artifactname
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          create-issues: false
          path: ${{ inputs.path }}
          artifactname: ${{ inputs.artifactname }}
