name: Build Frontend

on:
  workflow_call:
    inputs:
      nodeVersion:
        required: true
        type: string
      isDeployment:
        default: false
        type: boolean
      camsServerHostname:
        required: true
        type: string
      camsStagingHostname:
        required: true
        type: string
      camsServerPort:
        required: true
        type: string
      camsServerProtocol:
        required: true
        type: string
      camsBasePath:
        required: true
        type: string
      webappName:
        required: true
        type: string
      environment:
        required: true
        type: string
      launchDarklyEnvironment:
        required: true
        type: string
      azResourceGrpAppEncrypted:
        required: true
        type: string
jobs:
  build-frontend:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ vars.AZURE_ENVIRONMENT }}

      - uses: cloudposse/github-action-secret-outputs@main
        id: rgApp
        with:
          secret: ${{ secrets.PGP_SIGNING_PASSPHRASE }}
          op: decode
          in: ${{ inputs.azResourceGrpAppEncrypted }}

      - name: Use Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: ${{ inputs.nodeVersion }}
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build Common
        run: npm run build:common

      - name: Execute Build
        working-directory: user-interface
        run: |
          appiString=$(az monitor app-insights component show --app appi-${{ inputs.webappName }} -g  ${{ steps.rgApp.outputs.out }} --query "connectionString" -o tsv || true)

          export CAMS_SERVER_HOSTNAME=${{ inputs.camsServerHostname }}
          export CAMS_SERVER_PORT=${{ inputs.camsServerPort }}
          export CAMS_SERVER_PROTOCOL=${{ inputs.camsServerProtocol }}
          export CAMS_BASE_PATH=${{ inputs.camsBasePath }}
          export CAMS_APPLICATIONINSIGHTS_CONNECTION_STRING="${appiString}"
          export CAMS_FEATURE_FLAG_CLIENT_ID="${{ secrets.LD_DEVELOPMENT_CLIENT_ID }}"
          export CAMS_LAUNCH_DARKLY_ENV="${{ inputs.launchDarklyEnvironment }}"
          export CAMS_LOGIN_PROVIDER=${{ vars.CAMS_LOGIN_PROVIDER }}
          export CAMS_LOGIN_PROVIDER_CONFIG='${{ vars.CAMS_LOGIN_PROVIDER_CONFIG }}'
          export CAMS_INFO_SHA=${{ github.sha }}
          npm run build --if-present

      - name: Generate Slot Configuration
        working-directory: user-interface
        run: |
          echo "Slot name: ${{ vars.SLOT_NAME }}"
          echo "Staging hostname: ${{ inputs.camsStagingHostname }}"
          appiString=$(az monitor app-insights component show --app appi-${{ inputs.webappName }} -g  ${{ steps.rgApp.outputs.out }} --query "connectionString" -o tsv || true)
          export CAMS_SERVER_HOSTNAME=${{ inputs.camsStagingHostname }}
          export CAMS_SERVER_PORT=${{ inputs.camsServerPort }}
          export CAMS_SERVER_PROTOCOL=${{ inputs.camsServerProtocol }}
          export CAMS_BASE_PATH=${{ inputs.camsBasePath }}
          export CAMS_APPLICATIONINSIGHTS_CONNECTION_STRING="${appiString}"
          export CAMS_FEATURE_FLAG_CLIENT_ID="${{ secrets.LD_DEVELOPMENT_CLIENT_ID }}"
          export CAMS_LAUNCH_DARKLY_ENV="${{ inputs.launchDarklyEnvironment }}"
          export CAMS_LOGIN_PROVIDER=${{ vars.CAMS_LOGIN_PROVIDER }}
          export CAMS_LOGIN_PROVIDER_CONFIG='${{ vars.CAMS_LOGIN_PROVIDER_CONFIG }}'
          export CAMS_INFO_SHA=${{ github.sha }}
          export SLOT_NAME=${{ vars.SLOT_NAME || 'staging' }}
          npm run slotConfig
          mv ./public/configuration-${SLOT_NAME}.json ./build/

      - name: Package
        if: inputs.isDeployment
        working-directory: user-interface
        run: |
          pushd ./build
          zip -r ./${{ inputs.webappName }}.zip .
          popd
          mkdir ./artifacts
          mv ./build/${{ inputs.webappName }}.zip ./artifacts/

      - name: Upload Frontend Artifact
        if: inputs.isDeployment
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.webappName }}-build
          path: user-interface/artifacts/
          if-no-files-found: error
