name: Endpoint Tests

on:
  workflow_call:
    inputs:
      apiFunctionName:
        required: true
        type: string
      slotName:
        required: true
        type: string
      webappName:
        required: true
        type: string
      stackName:
        required: true
        type: string
      azResourceGrpAppEncrypted:
        required: true
        type: string
      ghaEnvironment:
        required: true
        type: string
      branchHashId:
        required: true
        type: string

jobs:
  endpoint-test-application:
    runs-on: ubuntu-latest
    environment: ${{ inputs.ghaEnvironment }}
    env:
      stackName: ${{ inputs.stackName }}
      webappName: ${{ inputs.webappName }}
      apiFunctionName: ${{ inputs.apiFunctionName }}
      branchHashId: ${{ inputs.branchHashId }}
      priority: 200
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ vars.AZURE_ENVIRONMENT }}

      - uses: cloudposse/github-action-secret-outputs@main
        id: rgApp
        with:
          secret: ${{ secrets.PGP_SIGNING_PASSPHRASE }}
          op: decode
          in: ${{ inputs.azResourceGrpAppEncrypted }}

      - name: Enable GHA runner access
        run: |
          ./ops/scripts/pipeline/dev-add-allowed-ip.sh \
          -g ${{ steps.rgApp.outputs.out }} \
          -s ${{ env.stackName }} \
          -p ${{ env.priority }} \
          --slot-name ${{ inputs.slotName }} \
          --is-cicd

      - name: Health check App Resources
        run: |
          ./ops/scripts/pipeline/endpoint-test.sh \
          --apiFunctionName ${{ inputs.apiFunctionName }} \
          --webappName ${{ inputs.webappName }} \
          --gitSha ${{ github.sha }} \
          --slotName ${{ inputs.slotName }} \
          --resourceGroup ${{ steps.rgApp.outputs.out }}

      - name: Disable GHA runner access
        if: always()
        run: |
          name="gha-${{ env.priority }}-${{ env.stackName }}"
          ./ops/scripts/pipeline/dev-rm-allowed-ip.sh \
          -g ${{ steps.rgApp.outputs.out }} \
          -s ${{ env.stackName }} \
          -r ${name:0:32} \
          --slot-name ${{ inputs.slotName }}
