name: Build

on:
  workflow_call:
    inputs:
      nodeVersion:
        required: true
        type: string
      apiFunctionName:
        required: true
        type: string
      dataflowsFunctionName:
        required: true
        type: string
      camsServerPort:
        required: true
        type: string
      camsServerProtocol:
        required: true
        type: string
      camsBasePath:
        required: true
        type: string
      webappName:
        required: true
        type: string
      environment:
        required: true
        type: string
      launchDarklyEnvironment:
        required: true
        type: string
      azResourceGrpAppEncrypted:
        required: true
        type: string
      slotName:
        required: true
        type: string
jobs:
  see-slot-name:
    runs-on: ubuntu-latest
    steps:
      - name: See Slot Name
        run: |
          echo "Slot name: ${{ inputs.slotName }}"

  build-frontend-predeployment:
    name: Build Frontend Predeployment
    uses: ./.github/workflows/reusable-build-frontend.yml
    secrets: inherit # pragma: allowlist secret
    with:
      nodeVersion: ${{ vars.NODE_VERSION }}
      camsServerHostname: ${{ inputs.apiFunctionName }}.azurewebsites.us
      camsStagingHostname: ${{ inputs.apiFunctionName }}-${{ inputs.slotName }}.azurewebsites.us
      camsServerPort: ${{ vars.CAMS_SERVER_PORT }}
      camsServerProtocol: ${{ vars.CAMS_SERVER_PROTOCOL }}
      camsBasePath: ${{ vars.CAMS_BASE_PATH }}
      webappName: ${{ inputs.webappName }}
      environment: ${{ inputs.environment }}
      launchDarklyEnvironment: ${{ vars.CAMS_LAUNCH_DARKLY_ENV }}
      azResourceGrpAppEncrypted: ${{ inputs.azResourceGrpAppEncrypted }}

  backend:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Install Dependencies
        run: npm ci

      - name: Build Common, Backend, API, and Dataflows
        run: |
          npm run build:common
          npm run build --workspace=backend
          npm run build:api
          npm run build:dataflows

      - name: Package API
        working-directory: backend
        run: OUT=${{ inputs.apiFunctionName }} npm run pack

      - name: Package Data Flow Artifact
        working-directory: backend
        run: OUT=${{ inputs.dataflowsFunctionName }} npm run pack:dataflows

      - name: Upload API Azure Functions Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.apiFunctionName }}-build
          path: backend/function-apps/api/${{ inputs.apiFunctionName }}.zip
          if-no-files-found: error

      - name: Upload Data Flows Azure Functions Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ inputs.dataflowsFunctionName }}-build
          path: backend/function-apps/dataflows/${{ inputs.dataflowsFunctionName }}.zip
          if-no-files-found: error
