name: Provision and Configure Cloud Resources

on:
  workflow_call:
    inputs:
      ghaEnvironment:
        required: true
        type: string
      azResourceGrpAppEncrypted:
        required: true
        type: string
      azResourceGrpNetworkEncrypted:
        required: true
        type: string
      stackName:
        required: true
        type: string
      apiFunctionName:
        required: true
        type: string
      dataflowsFunctionName:
        required: true
        type: string
      webappName:
        required: true
        type: string
      environmentHash:
        required: true
        type: string
      deployVnet:
        required: true
        type: string
      slotName:
        required: true
        type: string

jobs:
  deploy-infra:
    name: Azure Infrastructure
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      ghaEnvironment: ${{ inputs.ghaEnvironment }}
      azResourceGrpAppEncrypted: ${{ inputs.azResourceGrpAppEncrypted }}
      azResourceGrpNetworkEncrypted: ${{ inputs.azResourceGrpNetworkEncrypted }}
      stackName: ${{ inputs.stackName }}
      environmentHash: ${{ inputs.environmentHash }}
      deployVnet: ${{ inputs.deployVnet }}
    secrets: inherit # pragma: allowlist secret

  build-frontend-deployment-artifact:
    needs: [deploy-infra]
    name: Build Frontend for deployment
    uses: ./.github/workflows/reusable-build-frontend.yml
    secrets: inherit # pragma: allowlist secret
    with:
      nodeVersion: ${{ vars.NODE_VERSION }}
      camsServerHostname: ${{ inputs.apiFunctionName }}.azurewebsites.us
      camsStagingHostname: ${{ inputs.apiFunctionName }}-${{ inputs.slotName }}.azurewebsites.us
      camsServerPort: ${{ vars.CAMS_SERVER_PORT }}
      camsServerProtocol: ${{ vars.CAMS_SERVER_PROTOCOL }}
      camsBasePath: ${{ vars.CAMS_BASE_PATH }}
      webappName: ${{ inputs.webappName }}
      environment: ${{ inputs.ghaEnvironment }}
      launchDarklyEnvironment: ${{ vars.CAMS_LAUNCH_DARKLY_ENV }}
      azResourceGrpAppEncrypted: ${{ inputs.azResourceGrpAppEncrypted }}
      isDeployment: true

  deploy-supporting-infrastructure:
    name: Supporting Infrastructure
    uses: ./.github/workflows/reusable-infrastructure-deploy.yml
    needs: [deploy-infra]
    with:
      ghaEnvironment: ${{ inputs.ghaEnvironment }}
      azResourceGrpNetworkEncrypted: ${{ inputs.azResourceGrpNetworkEncrypted }}
      environmentHash: ${{ inputs.environmentHash }}
      apiFunctionName: ${{ inputs.apiFunctionName }}
      dataflowsFunctionName: ${{ inputs.dataflowsFunctionName }}
    secrets: inherit # pragma: allowlist secret
