name: NPM Package Updates

on:
  schedule:
    - cron: '0 10 * * 3'
      # Every Wednesday morning at 5 ET
  workflow_dispatch:

jobs:
  update-all:
    name: Update all NPM projects
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.BOT_PAT }}

      - name: Import GPG
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6.1.0
        with:
          gpg_private_key: ${{ secrets.BOT_PRIVATE_KEY }}
          passphrase: ${{ secrets.BOT_PASSPHRASE }}
          git_config_global: true
          git_commit_gpgsign: true
          git_user_signingkey: true

      - name: Update
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_PAT }}
          GIT_AUTHOR_NAME: ${{ steps.import-gpg.outputs.name }}
          GIT_AUTHOR_EMAIL: ${{ steps.import-gpg.outputs.email }}
        run: ./ops/scripts/utility/update-dependencies.sh -c

      - name: Create PR
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_PAT }}
        run: gh pr create --title "Update NPM packages" --body-file .github/PULL_REQUEST_TEMPLATE/dependencies.md
