name: Veracode Static Analysis Scan

concurrency: ${{ github.ref }}-${{ github.workflow }}

on:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:

jobs:
  sast-upload-and-scan:
    name: SAST Upload and Scan
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Package source code for scan
        run: zip -r cams.zip . -i "./backend/*" -i "./user-interface/*" -i "./common/*"

      - name: Veracode Upload And Scan
        uses: veracode/veracode-uploadandscan-action@ddca86b1d1d45639d1c414003f3495f71851cfe2 # 0.2.11
        with:
          appname: "CAMS"
          createprofile: false
          filepath: "cams.zip"
          vid: "${{ secrets.VERACODE_API_ID }}"
          vkey: "${{ secrets.VERACODE_API_KEY }}"
          criticality: "Medium"
