name: Veracode Static Analysis Scan

concurrency: ${{ github.ref }}-${{ github.workflow }}

on:
  schedule:
    - cron: "0 6 * * 1"
  workflow_dispatch:

jobs:
  sast-upload-and-scan:
    name: SAST Upload and Scan
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Package source code for scan
        run: zip -r cams.zip . -i "./backend/*" -i "./user-interface/*" -i "./common/*"

      - name: Veracode Upload And Scan
        uses: veracode/veracode-uploadandscan-action@4e085f49ae0fba919fa0fb27cb1d4262284d9243 # 0.2.10
        with:
          appname: "CAMS"
          createprofile: false
          filepath: "cams.zip"
          vid: "${{ secrets.VERACODE_API_ID }}"
          vkey: "${{ secrets.VERACODE_API_KEY }}"
          criticality: "Medium"
